<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Strona na której sprawdzisz jakość powietrza którym oddychasz">
    <meta name="author" content="Łukasz D">
    <title>Smog radar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans" rel="stylesheet"> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" ></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places" type="text/javascript"></script>
    <script type="text/javascript">
        function initialize() {
            var input = document.getElementById('address_field');
            var autocomplete = new google.maps.places.Autocomplete(input);
            google.maps.event.addListener(autocomplete, 'place_changed', function() {
                fillInAddress();
            });
        }

        function fillInAddress(){
            document.getElementById("btn_check").disabled = false;
            document.getElementById("btn_check").className = "btn btn-success btn-lg";
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body>
    <section id="page" class="bg">
        <div class="container text-center">
            <h1 id="logo">Smog Radar</h1>
        </div>

        <div class="container text-center">
            <form action='/address/' name='form' id="form" method='GET'>
                <input id="address_field" type="text" name="address" placeholder="Zacznij wpisywać adres, wybierz z listy i wciśnij sprawdź!" autocomplete="on" class="form-control-lg">
                <button id="btn_check" type="submit" class="btn btn-danger btn-lg disabled" disabled>Sprawdź</button>
            </form>
        </div>
    </section>
</body>

</html>
